body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.container {
    display: flex;
    height: 735px;
}

.sidebar {
    flex: 1;
    background-color: #c4deff;
    padding: 20px;
}

.main-container {
    flex: 3;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

#chat-container {
    border: 1px solid #686666a7;
    margin: 20px;
    flex: 1;
    background-color: #e8e5e5a7;
    overflow-y: auto;
    padding: 20px;
}

#user-list {
    margin-top: 45px;
    list-style: none;
    padding: 0;
}

#user-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

#message {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
}

.link {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #24d22a;
    text-decoration: none;
}

#group-list {
    padding: 0;
}

#group-list li {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

#group-list li:hover {
    background-color: #f7f4f470;
}

#message-tab {
    text-align: center;
    font-size: x-large;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #c6dbf6d0;
    z-index: 1;
    position: fixed;
    top: 25px;
    padding: 10px;
}

#admin {
    position: fixed;
    top: 6%;
    right: 5%;
    border-radius: 3px;
    cursor: pointer;
}


ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-container {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f4f4f4;
    overflow-y: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.chat-message {
    border: 1px solid black;
    float: left;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #fcfefe;
    clear: both;
    word-wrap: break-word;
    position: relative;
    align-self: flex-start;
    margin-left: 10px;
    width: 35%;
}

.sender-name {
    margin-top: -8px;
    max-width: 100%;
    float: right;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.message-text {
    font-size: 14px;
    margin-top: 8px;
    display: block;
}

.chat-message.your-message {
    border: 1px solid black;
    align-self: flex-end;
    background-color: #DCF8C6;
    margin-right: 10px;
    float: right;
}

@media (max-width: 768px) {
    .container {
        height: 528px;
    }

    .main-container {
        flex: 1;
    }

    .sidebar {
        max-width: 200px;
    }

    .chat-container {
        max-width: 100%;
        height: 100%;
    }
}

@media (max-width: 670px) {

    .sidebar {
        max-width: 150px;
    }

}

@media (max-width: 480px) {

    .container {
        height: 700px
    }

    .main-container {
        border: 2px solid black;
        max-width: 100%;
        height: 70%;
        margin-top: 250px;

    }

    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        max-width: none;
        max-height: 200px;
        background-color: #c4deff;
        z-index: 999;
        overflow: auto;
    }

    #admin {
        margin-top: 243px;
        position: absolute;
    }

    #message-tab {
        margin-top: 243px;
        position: absolute;

    }

}